@import '../../plugins/bootstrap/scss/functions';
@import '../../plugins/bootstrap/scss/variables';
@import '../../plugins/bootstrap/scss/mixins';

@import 'variables';
@import 'mixins';
@import 'fonts';

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

@import '../../plugins/bootstrap/scss/maps';
@import '../../plugins/bootstrap/scss/utilities';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

$container-max-widths: (
  xl: 1300px,
  xxl: 1300px,
);

$grid-gutter-width: 24px;

$custom-gutter-widths: (
  sm: 1rem,
  md: 1rem,
  lg: 1rem,
  xl: 1rem,
  xxl: 1rem,
);

/* Breadcrumb Variables */
$breadcrumb-item-padding-x: 8px;
$breadcrumb-font-size: calc(0.1632653061vw + 13.387755102px);
$breadcrumb-divider-color: $grey2;
$breadcrumb-active-color: $grey2;
$breadcrumb-margin-bottom: 0;

/* Accordion variables */
$accordion-padding-y: 0;
$accordion-padding-x: 0;
$accordion-color: $black;
$accordion-bg: var(--#{$prefix}body-bg);
$accordion-border-radius: 0;
$accordion-inner-border-radius: 0;

$accordion-body-padding-y: 0;
$accordion-body-padding-x: 0;

$accordion-button-padding-y: 14px;
$accordion-button-padding-x: 0;
$accordion-button-color: $black;
$accordion-button-bg: transparent;
$accordion-button-active-bg: transparent;
$accordion-button-active-color: $primary;

$accordion-icon-color: $dark;
$accordion-icon-active-color: $white;
$accordion-btn-focus-border-color: none;

@import '../../plugins/bootstrap/scss/bootstrap';
