@font-face {
  font-family: 'MontBold';
  src: url('../fonts/MontBold.eot');
  src:
    url('../fonts/MontBold.eot') format('embedded-opentype'),
    url('../fonts/MontBold.woff2') format('woff2'),
    url('../fonts/MontBold.woff') format('woff'),
    url('../fonts/MontBold.ttf') format('truetype'),
    url('../fonts/MontBold.svg#MontBold') format('svg');
}
@font-face {
  font-family: 'MontLight';
  src: url('../fonts/MontLight.eot');
  src:
    url('../fonts/MontLight.eot') format('embedded-opentype'),
    url('../fonts/MontLight.woff2') format('woff2'),
    url('../fonts/MontLight.woff') format('woff'),
    url('../fonts/MontLight.ttf') format('truetype'),
    url('../fonts/MontLight.svg#MontLight') format('svg');
}
@font-face {
  font-family: 'MontRegular';
  src: url('../fonts/MontRegular.eot');
  src:
    url('../fonts/MontRegular.eot') format('embedded-opentype'),
    url('../fonts/MontRegular.woff2') format('woff2'),
    url('../fonts/MontRegular.woff') format('woff'),
    url('../fonts/MontRegular.ttf') format('truetype'),
    url('../fonts/MontRegular.svg#MontRegular') format('svg');
}
@font-face {
  font-family: 'MontSemiBold';
  src: url('../fonts/MontSemiBold.eot');
  src:
    url('../fonts/MontSemiBold.eot') format('embedded-opentype'),
    url('../fonts/MontSemiBold.woff2') format('woff2'),
    url('../fonts/MontSemiBold.woff') format('woff'),
    url('../fonts/MontSemiBold.ttf') format('truetype'),
    url('../fonts/MontSemiBold.svg#MontSemiBold') format('svg');
}
