@import '../common/variables';
@import '../common/mixins';

$info-card-colors: #ffedea, #eaf1ff, #fff6db, #c9ffbc;
$info-card-hover-colors: $secondary, $info, $warning, $success;

@for $i from 1 through 4 {
  .info__card__wrapper:nth-child(#{$i}) {
    .info__card__icon {
      background: nth($info-card-colors, $i);
      width: 76px;
      height: 76px;
      border-radius: 50%;
      @include flexCenter;
    }

    .info__card {
      &:hover {
        border-color: nth($info-card-hover-colors, $i);
      }
    }
  }
}

.contact__info {
  .row {
    row-gap: 24px;
    @include media-breakpoint-down(sm) {
      row-gap: 12px;
    }
  }
  .info__card {
    background: $white;
    padding: 30px 18px;
    @include flexCenter;
    flex-direction: column;
    gap: 18px;
    height: 100%;
    @include transition;
    border: 2px solid transparent;

    .info__card__content {
      text-align: center;
      .info__card__text,
      p {
        margin-bottom: 0;
        a,
        p {
          font-size: 15px;
          color: $bodyColor;
        }
      }
    }
  }
}

.inquiry__sec {
  .row {
    row-gap: 24px;
    @include media-breakpoint-down(sm) {
      row-gap: 12px;
    }
  }
  .contact__form {
    padding: 40px 50px;
    border: 1px solid $primary;
    background-color: $white;
    @include media-breakpoint-down(lg) {
      padding: 24px;
    }
    .form__heading {
      .contact__desc {
        font-size: 14px;
      }
    }
    .contact__desc {
      margin-bottom: 48px;
    }
    .form-control {
      padding: 0px 0px 16px;
      font-size: 16px !important;
      color: #332f2f;
      border-bottom: 1px solid #332f2f !important;
      background: transparent;
      border: none;
      border-radius: 0;
    }
    input {
      &::placeholder {
        color: #332f2f;
        opacity: 1;
      }
    }

    textarea {
      &::placeholder {
        color: #332f2f;
        opacity: 1;
      }
    }
    // .wpcf7-spinner {
    //   position: absolute;
    //   left: 0;
    //   top: 50%;
    //   // transform: translateY(-50%);
    // }
    .btn-primary {
      padding: 0 10px 0px 50px !important;
      color: $primary;
      background-image: url(../images/contact-form-btn-2.svg);
      background-repeat: no-repeat;
      background-position: calc(0% + 3px);
      background-size: 40px;
      &:hover {
        color: $white;
        background-image: url(../images/contact-form-btn-3.svg);
        background-color: black;
      }
    }
  }
  .map {
    @include fullSize;
    iframe {
      width: 100%;
      min-height: 450px;
      height: 100%;
    }
  }
}
