@import '../common/variables';
@import '../common/mixins';

.capabilities__section {
  background:
    linear-gradient(rgba($primary, 0.7)),
    url('../images/Industries-bg.webp') no-repeat center;
  background-size: cover;
  margin-bottom: 72px;
  padding: 50px 0px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 44px;
  }
  .row {
    row-gap: 24px;
  }
  h2 {
    padding: 20px 0px;
    color: $white;
    @include media-breakpoint-down(sm) {
      br {
        display: none;
      }
    }
  }
  .capabilities__listing {
    .row {
      padding: 0px 42px;
      @include media-breakpoint-down(lg) {
        padding: 0;
      }
      .capabilities__card {
        @include flexCenter;
        flex-direction: column;
        gap: 24px;
        padding: 24px;
        background: rgba($white, 0.1);
        backdrop-filter: blur(7.5px);
        border: 1px solid rgba($white, 0.4);
        width: 100%;
        @include media-breakpoint-down(lg) {
          gap: 14px;
          padding: 14px;
        }
        .cap__card__img {
          width: 80px;
          height: 80px;
          @include media-breakpoint-down(lg) {
            width: 65px;
            height: 65px;
          }
          svg {
            max-width: 100%;
            max-height: 100%;
          }
        }
        .cap__card__title {
          h3 {
            color: $white;
            text-align: center;
            @include media-breakpoint-down(lg) {
              font-size: 18px !important;
            }
          }
        }
      }
    }
  }
}

.vision__section,
.page-id-171 {
  .offering__card__caption {
    min-height: 184px;

    @include devices(laptopOnly) {
      min-height: 205px;
    }

    @include media-breakpoint-between(lg, xl) {
      min-height: 230px;
    }

    @include media-breakpoint-between(md, lg) {
      min-height: 245px;
    }

    @include media-breakpoint-down(sm) {
      min-height: auto;
    }
  }
}
.about__company {
  padding-bottom: 0;
  .about__company__grid {
    .badge {
      margin-bottom: 40px;
    }
    .company__difference {
      padding: 64px;
      background-color: #afd0ff;
      clip-path: polygon(0 0, 100% 0, 100% 88%, 90% 100%, 0 100%);
      margin-top: 46px;
      @include media-breakpoint-down(lg) {
        padding: 35px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 0;
        padding: 24px;
        clip-path: unset;
      }

      .difference__item__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 70px;
        position: relative;
        @include media-breakpoint-down(sm) {
          grid-template-columns: repeat(2, 1fr);
          gap: 24px;
        }

        &:before {
          content: '';
          @include absoluteTopLeft;
          bottom: 0;
          margin: auto;
          width: 100%;
          height: 1px;
          background: #4b9ce5;
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        .difference__item {
          position: relative;
          padding: 0 25px;
          @include media-breakpoint-down(lg) {
            padding-right: 0px !important;
          }
          @include media-breakpoint-down(md) {
            padding: 0px !important;
          }

          .difference__item__content {
            p {
              margin: 20px 0 0;
              font-size: 18px;
              font-family: $primary_semibold;
              color: #0254ad;
              @include media-breakpoint-down(md) {
                font-size: 16px;
              }
            }
          }

          &:not(:nth-child(3n)) {
            border-right: 1px solid #4b9ce5;
          }
          @include media-breakpoint-down(md) {
            &:not(:nth-child(2n)) {
              border-right: none;
            }

            &:nth-child(2n) {
              border-right: none;
            }
          }
        }
      }
    }
    .about__img {
      width: 508px;
      height: 463px;
      border: 1px solid $black;
      border-bottom: 2px solid $black;
      clip-path: polygon(
        0% 10%,
        52px 0,
        calc(100% - 0px) 0,
        100% 33px,
        100% 100%,
        0 100%
      );
      @include media-breakpoint-down(md) {
        width: 100%;
        height: 100%;
        clip-path: unset;
        padding-left: 12px;
        border: none;
        padding-top: 12px;
      }

      &::before {
        content: '';
        position: absolute;
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        width: 75px;
        height: 55px;
        background: #000000;
        clip-path: polygon(100% -30%, -10% 100%, 0 0);
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      img {
        @include fullSize;
      }
    }
  }
}

// custome about  title
.page-id-171 {
  .about__company {
    .block__ttl {
      .h2-big {
        max-width: 580px;
      }
    }
  }
}

.approach__section {
  background: url(../images/our-approach.webp) no-repeat center;
  background-size: cover;
  counter-reset: approach-card;
  .approach__grid {
    .row {
      row-gap: 24px;
      > [class*='col-'] {
        display: flex;
      }
      .approach__card {
        @include fullSize;
        position: relative;
        counter-increment: approach-card;
        background: rgba($white, 0.4);
        border: 1px solid rgba($white, 0.5);
        backdrop-filter: blur(7.5px);
        padding: 34px;

        &::after {
          content: counter(approach-card);
          position: absolute;
          top: 10px;
          right: 20px;
          font-size: 130px;
          line-height: 1;
          font-weight: $font-weight-bold;
          color: rgba($white, 0.4);
          font-family: $primary_extrabold;
        }

        .approach__img {
          border: 1px solid $dark-blue2;
          padding: 14px;
          display: inline-flex;
          margin-bottom: 24px;
        }

        .approach__content {
          h3 {
            margin-bottom: 16px;
          }

          .approach__desc {
            font-size: 14px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.manufacturing__section {
  .manufacturing__image {
    @include fullSize;
    overflow: hidden;
    position: relative;
    img {
      @include absoluteTopLeft;
      @include imageCover;
      @include media-breakpoint-down(md) {
        position: static;
      }
    }
  }
  .block__ttl {
    h2 {
      max-width: 85%;
    }
  }
  .manufacturing__list {
    margin-top: 20px;
    @include media-breakpoint-down(md) {
      margin-bottom: 24px;
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        margin-bottom: 24px;
        position: relative;
        padding: 10px 40px;
        box-shadow: 0px 4px 4px rgba($black, 0.25);
        background: $white;
        width: 378px;
        max-width: 100%;
        @include media-breakpoint-down(md) {
          width: 100%;
        }
        &::before {
          content: '';
          background: url(../images/chechmark-icon.svg) no-repeat center;
          width: 20px;
          height: 20px;
          display: block;
          position: absolute;
          top: 13px;
          left: 10px;
        }
        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

.faq__section {
  background: url(../images/faq-bg.webp) no-repeat center;
  background-size: cover;
  .faq__content {
    padding: 24px;
    background: rgba($black, 0.2);
    backdrop-filter: blur(7.5px);
    border: 1px solid #aeaeae;
    .faq__title {
      font-size: 48px;
      font-family: $primary_semibold;
      color: $white;
      margin-bottom: 50px;
      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }
    .faq__accordion {
      .accordion {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        align-items: flex-start;
        .accordion-item {
          padding: 15px;
          border-radius: 0 !important;
          margin-bottom: 0px;
          width: calc(50% - 12px);
          @include transition;
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
          h2 {
            button {
              font-size: 18px;
              font-family: $primary_semibold;
              @include media-breakpoint-down(lg) {
                line-height: 26px;
              }
              &::after {
                background-image: url(../images/plus.svg);
                @include transition;
              }
            }
          }
          .accordion-collapse {
            @include transition;
          }
        }
      }
    }
  }
}

.indus__all__section {
  padding-top: 72px;
  .row {
    row-gap: 24px;
    > [class*='col-'] {
      display: flex;
    }
  }
  .indus__list__card {
    @include fullSize;
    position: relative;
    padding: 45px 32px;
    border: 2px solid #afd0ff;
    overflow: hidden;
    @include transition;
    .overlay__img {
      @include absoluteTopLeft;
      @include fullSize;
      opacity: 0;
      backface-visibility: hidden;
      @include transition;
      img {
        @include imageCover;
        @include transition;
      }
      &::before {
        content: '';
        background-color: rgba(0, 29, 63, 0.5);
        position: absolute;
        @include fullSize;
      }
    }
    .indus__content {
      display: flex;
      height: 100%;
      flex-direction: column;
    }
    .indus-img {
      margin-bottom: 60px;
      width: 100px;
      height: 100px;
      background-color: #e1e8f0;
      border-radius: 50%;
      position: relative;
      padding: 15px;
      flex-shrink: 0;
      @include flexCenter;
      @include media-breakpoint-down(sm) {
        width: 80px;
        height: 80px;
        margin-bottom: 40px;
      }
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .content__bottom {
      @include flexStartCenter;
      flex-direction: column;
      gap: 18px;
      position: relative;
      flex: 1;
      @include transition;

      h2 a {
        font-family: $primary_semibold;
        @include transition;
      }
      .indus__desc {
        font-size: 15px;
        margin-bottom: 0;
        @include transition;
      }
      .action {
        margin-top: auto;
      }
    }
    &:hover {
      .overlay__img {
        opacity: 1;
        backface-visibility: visible;
        @include transition;
      }
      .content__bottom {
        h2 a {
          color: $white;
          @include transition;
        }
        .indus__desc {
          color: $white;
          @include transition;
        }
        .link__btn {
          color: $white;
          @include transition;

          svg path {
            fill: $white;
          }
          &::after {
            background: $white;
          }
        }
      }
    }
  }
}

.single-industries {
  .about__oem {
    .block__ttl {
      .col-md-3 {
        max-width: 35%;
        flex-basis: 35%;
      }
    }
  }
}

.solution__all__section {
  padding-top: 72px;
  @include media-breakpoint-down(sm) {
    padding-top: 64px;
  }
  .row {
    row-gap: 24px;
    @include media-breakpoint-down(sm) {
      row-gap: 12px;
    }
    > [class*='col-'] {
      display: flex;
    }
  }
  .solution__list__card {
    @include fullSize;
    .solution__img {
      position: relative;
      overflow: hidden;
      padding-top: 114%;
      @include fullSize;
      img {
        @include absoluteTopLeft;
        @include imageCover;
        @include transition;
        transition: all 0.3s ease;
      }
      &::before {
        content: '';
        background: linear-gradient(
          180deg,
          rgba($black, 0) 0%,
          rgba($black, 0.7) 100%
        );
        z-index: 1;
        @include absoluteTopLeft;
        @include fullSize;
      }
    }
    .solution__content {
      @include flexStartCenter;
      flex-direction: column;
      gap: 16px;
      position: absolute;
      bottom: 0;
      padding: 30px;
      width: 100%;
      z-index: 2;
      @include media-breakpoint-down(sm) {
        gap: 6px;
        padding: 20px;
      }
      h2 a {
        font-family: $primary_semibold;
        @include transition;
        color: $white;
      }
      .solution__desc {
        font-size: 15px;
        @include transition;
        color: $white;
      }
    }
    &:hover {
      .solution__img {
        img {
          transform: scale(1.1);
        }
      }
      .action {
        .link__btn {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.about__oem {
  .row {
    row-gap: 24px;
    justify-content: center;
  }
  .oem__image {
    @include fullSize;
    img {
      @include imageCover;
      box-shadow: 0px 12px 32px rgba($black, 0.12);
      aspect-ratio: 16 / 10;
    }
  }
  .oem__card {
    height: 100%;
    .oem__icon {
      margin-bottom: 16px;
    }
    padding: 36px 24px;
    background-color: $white;
    border: 1px solid rgba(196, 198, 207, 0.1);
    box-shadow: 0px 4px 20px rgba(26, 54, 93, 0.08);
    @include media-breakpoint-down(lg) {
      padding: 20px;
    }
    h2 {
      color: #0254ad;
      padding-bottom: 8px;
      font-size: 24px;
      @include media-breakpoint-down(lg) {
        font-size: 18px;
      }
    }
    .oem__desc {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
      p {
        margin-bottom: 0;
      }
    }
  }
}
.about__company__grid {
  overflow-x: clip;

  > div + .oem__card {
    display: flex;
  }
}

.protection__section {
  .row {
    row-gap: 24px;
    @include media-breakpoint-down(md) {
      row-gap: 12px;
    }
  }
  .protection__card {
    padding: 24px;
    border: 1px solid #0254ad;
    background: #dde8ff;
    gap: 24px;
    @include flexAlignCenter;
    .protection__icon {
      border: 1px solid #0254ad;
      background: $white;
      padding: 10px;
      width: 48px;
      height: 48px;
      flex-shrink: 0;
      @include flexCenter;
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .protection__title {
      h2 {
        font-size: 18px;
        font-family: $primary_semibold;
        color: #002045;
        margin-bottom: 0;
      }
    }
  }
}

.ptc__challenges {
  .ptc__challenges__grid {
    .row {
      row-gap: 24px;
      > [class*='col-'] {
        display: flex;
      }
    }
    .ptc__challenges__card {
      @include fullSize;
      padding: 36px;
      background: $white;
      border: 1px solid #d6e3ff;
      @include media-breakpoint-down(md) {
        padding: 20px;
      }
      .ptc__challenges__icon {
        background-color: #d6e3ff;
        padding: 10px;
        width: 56px;
        height: 56px;
        flex-shrink: 0;
        @include flexCenter;
        svg {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .ptc__challenges__content {
        h3 {
          color: #002045;
          margin-top: 24px;
          margin-bottom: 0;
        }
        .ptc__challenges__desc {
          margin-bottom: 0;
          margin-top: 24px;
        }
      }
    }
  }
}

.recommendation__grid {
  .row {
    row-gap: 24px;
    > [class*='col-'] {
      display: flex;
    }
  }
  .recommendation__card {
    background-color: $white;
    box-shadow: 0px 4px 20px rgba(26, 54, 93, 0.08);
    .recommendation__img {
      padding-top: 68%;
      position: relative;
      overflow: hidden;
      img {
        @include imageCover;
        @include absoluteTopLeft;
      }
    }
    .recommendation__content {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      @include media-breakpoint-down(md) {
        gap: 12px;
      }
      h3 {
        margin-bottom: 0;
        a {
          color: #002045;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          margin-bottom: 0;
          @include transition;
          // margin-bottom: 0;
          // max-height: 60px;
        }
      }
      .recommendation__desc {
        margin-bottom: 0;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
    &:hover {
      .recommendation__img {
        img {
          transform: scale(1.1);
          @include transition;
        }
      }
      .recommendation__content {
        h3 {
          a {
            color: $secondary;
            @include transition;
          }
        }
        .action {
          .link__btn {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.overview__system {
  &__grid {
    .system__img {
      @include fullSize;
      @include media-breakpoint-down(md) {
        padding-bottom: 24px;
      }
      img {
        @include imageCover;
        box-shadow: 0px 12px 32px rgba(26, 54, 93, 0.12);
      }
    }
    .block__ttl {
      gap: 16px !important;

      h3 {
        color: #0254ad !important;
        margin-bottom: 0;
      }
    }
  }
}

.ptc__system {
  .ptc__system__grid {
    .row {
      row-gap: 24px;
      > [class*='col-'] {
        display: flex;
      }
    }
    .ptc__system__card {
      @include fullSize;
      padding: 48px;
      background: $white;
      border: 1px solid #d6e3ff;
      @include media-breakpoint-down(sm) {
        padding: 28px;
      }

      .ptc__system__icon {
        padding: 10px;
        background-color: #d6e3ff;
        @include flexCenter;
        width: 56px;
        height: 56px;
        svg {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .ptc__system__content {
        h3 {
          color: #002045;
          margin-top: 24px;
          margin-bottom: 0;
        }
        .ptc__system__desc {
          margin-bottom: 0;
          margin-top: 24px;
        }
      }
    }
  }
}

.pdct__rcmd {
  .row {
    row-gap: 12px;
  }
  &__sidebar {
    background-color: $white;

    padding: 20px 14px;
    border: 1px solid $dark-blue;
    .pdct__rcmd__title {
      font-size: 18px;
      margin-bottom: 24px;
      font-family: $primary_semibold;
      color: $dark-blue;
      border-bottom: 1px solid $dark-blue;
      width: fit-content;
      padding-bottom: 8px;
    }
    button,
    .nav-link,
    a {
      color: $blue;
      font-size: 14px;
      font-family: $primary_semibold;
      padding: 10px;
      justify-content: space-between;
      display: flex;
      @include transition;
      line-height: 18px;
      align-items: center;
      .icon {
        svg {
          width: 5px;
          height: 10px;
          path {
            fill: $blue;
          }
        }
      }
      &:hover {
        background-color: $blue !important;
        border-radius: 0;
        color: $white;
        @include transition;
        .icon {
          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }
    .active {
      background-color: $blue !important;
      border-radius: 0;
      .icon {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
    .nav {
      gap: 12px;
    }
  }
  &__body {
    background-color: $white;
    padding: 48px 32px;
    border: 1px solid $dark-blue;
    @include media-breakpoint-down(lg) {
      padding: 18px;
    }
    .tab-content-item {
      border-bottom: 1px solid rgba($dark-blue, 0.5);
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 24px;
      padding-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;
        // ul {
        //   margin-bottom: 0 !important;
        // }
      }
      @include media-breakpoint-down(lg) {
        gap: 14px;
        margin-bottom: 14px;
        padding-bottom: 14px;
      }
      .tab-panel-title {
        h3 {
          margin-bottom: 0;
          color: $blue;
        }
      }
      .tab-panel-list {
        ul {
          padding: 0;
          margin-bottom: 0px;
          row-gap: 24px;
          @include media-breakpoint-down(lg) {
            row-gap: 14px;
          }
          li {
            list-style: none;
            margin-bottom: 0;
            h4,
            a {
              position: relative;
              color: $dark-blue;
              margin-bottom: 0;
              padding-left: 24px;
              display: block;
              &::before {
                content: '';
                background-color: $blue;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 2px;
                left: 0;
              }
            }
            p,
            span {
              font-size: 14px;
              color: #43474e;
              margin-bottom: 0;
            }
            &:hover {
              h4,
              a {
                color: $secondary;
              }
            }
          }
        }
      }
    }
  }
}

.our__process {
  .block__ttl {
    .badge {
      margin-bottom: 0;
    }
  }
  .our__process__grid {
    .row {
      row-gap: 24px;
      > [class*='col-'] {
        display: flex;
      }
    }
    .our__process__card {
      @include fullSize;
      padding: 24px 20px;
      background: $white;
      border: 1px solid #d6e3ff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      .our__process__content {
        h3 {
          color: $blue;
          padding-bottom: 12px;
        }
        .our__process__desc {
          margin-bottom: 0;
          ul {
            margin-bottom: 0;
          }
        }
        ul {
          margin-bottom: 0;
        }
      }
    }
  }
}

.resources__section {
  background: url('../images/resource-bg.webp') no-repeat center;
  background-size: cover;
  padding: 40px 0px;
  h2 {
    margin-bottom: 32px;
  }
  .row {
    row-gap: 24px;
  }
  .resources__card {
    padding: 24px;
    background: $white;
    gap: 16px;
    @include media-breakpoint-down(sm) {
      padding: 18px;
    }
    @include flexAlignCenter;
    .resources__icon {
      background: #f1f4f6;
      border-radius: 8px;
      padding: 10px;
      width: 47px;
      height: 47px;
      flex-shrink: 0;
      @include flexCenter;
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .resources__content {
      @include flexCenterBetween;
      width: 100%;
      .resources__title {
        h2 {
          font-size: 14px;
          font-family: $primary_semibold;
          color: $dark-blue;
          margin-bottom: 0;
        }
        span {
          font-size: 12px;
          color: #43474e;
        }
      }
      .resources__link {
        font-size: 12px;
        font-family: $primary_semibold;
        color: $blue;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 0;
          height: 2px;
          background: $blue;
          transition: width 0.3s ease;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.technical__faq {
  .block__ttl {
    position: sticky;
    top: 150px;
  }
  .accordion {
    .accordion-item {
      border-radius: 0 !important;
      background-color: rgba($green2, 0.1);
      margin-bottom: 24px;
      border: 1px solid $primary;
      padding: 0;
      h2 {
        button {
          padding: 25px 22px !important;
          font-size: 16px !important;
          font-family: $primary_semibold;
          line-height: 100% !important;
          @include media-breakpoint-down(sm) {
            line-height: 130% !important;
          }
          @include media-breakpoint-down(lg) {
            padding: 16px !important;
          }
          &::after {
            width: 20px;
            height: 20px;
            background: url(../images/plus.svg) no-repeat !important;
            background-size: contain;
            transform: rotate(0);
            @include transition;
          }

          &:not(.collapsed) {
            &::after {
              background: none !important;
              content: '−';
              font-size: 24px;
              font-weight: 400;
              line-height: 20px;
            }
          }
        }
      }
      &:has(.accordion-button:not(.collapsed)) {
        border: 0;
        background-color: rgba($green2, 1);
        h2 {
          button {
            color: $white;
            &:not(.collapsed) {
              &::after {
                color: $white;
              }
            }
          }
        }
        .accordion-body {
          color: $white;
          padding-top: 16px;
          border-top: 1px solid $white;
        }
      }
    }
    .accordion-collapse {
      padding: 0px 22px 22px !important;
      @include transition;
    }
  }
}

$step-colors: (#abe4ff, #60c2ff, #198fff, #0e7efa, #0055d8, #0248be);
.our__support {
  .support__step {
    overflow: visible;

    .row {
      margin: 0;

      > [class*='col-'] {
        padding: 0;
        position: relative;
        @include media-breakpoint-down(lg) {
          padding: 10px;
        }

        .step__card {
          text-align: center;
          // width: calc(100% + 45px);

          .step__icon {
            height: 125px;
            width: 100%;
            position: relative;
            @include media-breakpoint-down(lg) {
              height: auto;
            }

            .icon {
              position: relative;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-right: 15px;
              clip-path: polygon(
                0 0,
                calc(97% - 38px) 0,
                95% 50%,
                calc(97% - 38px) 100%,
                0 100%,
                0 50%
              );
              border-top: 1px solid $black;
              border-bottom: 1px solid $black;
              width: calc(100% + 45px);
              left: -43px;
              @include media-breakpoint-down(lg) {
                clip-path: unset;
                width: 80px;

                height: 80px;
                border: 0;
                padding-right: 0;
                position: static;
                margin: auto;
                svg {
                  width: 50px;
                  height: 50px;
                }
              }
            }

            &:after {
              content: '';
              position: absolute;
              width: 67px;
              height: 230px;
              top: 50%;
              right: 2px;
              transform: translateY(-50%);
              z-index: 999999;
              background: url(../images/step-arrow.svg) no-repeat center;
              @include media-breakpoint-down(lg) {
                display: none;
              }
            }
          }

          .step__title {
            max-width: 145px;
            margin: 20px auto 0 0;
            @include media-breakpoint-down(lg) {
              margin-top: 10px;
              max-width: 100%;
            }

            span {
              font-size: 28px;
              font-family: $primary-semibold;
              line-height: 1;
            }

            p {
              font-size: 18px;
              font-family: $primary-semibold;
              color: $primary;
              margin-top: 8px;
              @include media-breakpoint-down(lg) {
                margin-top: 0;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0;
              }
            }
          }
        }

        &:first-child {
          .step__card {
            .step__icon {
              .icon {
                padding: 0 0 0 10px;
                width: calc(100% + 45px);
                left: -43px;
                clip-path: polygon(
                  29% 50%,
                  calc(2% + 39px) 0,
                  calc(97% - 39px) 0,
                  95% 50%,
                  calc(97% - 39px) 100%,
                  calc(2% + 39px) 100%
                );
                @include media-breakpoint-down(lg) {
                  clip-path: unset;
                  width: 80px;
                  height: 80px;
                  position: static;
                  margin: auto;
                  svg {
                    width: 50px;
                    height: 50px;
                  }
                }
              }

              &:before {
                content: '';
                width: 31px;
                height: 125px;
                @include absoluteCenterVertical;
                background: url(../images/step-arrow-lt.svg) no-repeat center;
                left: 0;
                @include media-breakpoint-down(lg) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  @for $i from 1 through length($step-colors) {
    .row > .step-wrapper:nth-child(#{$i}) {
      .step__icon .icon,
      .step__icon:before {
        background-color: nth($step-colors, $i);
      }

      .step__title span {
        color: nth($step-colors, $i);
      }
    }
  }
  @for $i from 1 through 6 {
    .row > .step-wrapper:nth-child(#{$i}) .step__icon .icon {
      z-index: 1000000 - $i;
    }
  }
}

.industry__overview {
  .block__ttl {
    max-width: 550px;
  }
}
