$accordion-padding-y: 1.5rem;
$accordion-padding-x: 1.5rem;
$accordion-color: $primary;
$accordion-bg: $grey6;
$accordion-border-radius: 42px;
$accordion-inner-border-radius: 42px;

$accordion-body-padding-y: 1.5rem;
$accordion-body-padding-x: 1.5rem;

$accordion-button-padding-y: 0;
$accordion-button-padding-x: 0;
$accordion-button-color: $dark;
$accordion-button-bg: $light;
$accordion-button-active-bg: $secondary;
$accordion-button-active-color: $white;

$accordion-icon-color: $dark;
$accordion-icon-active-color: $white;
$accordion-btn-focus-border-color: none;

.accordion {
  .accordion-item {
    border: none;
    background: $grey6;
    border-radius: 3.25rem !important;
    padding: 2.625rem 3.25rem;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .accordion-header {
      .accordion-button {
        padding: 0;
        font-size: $font_size_30;
        line-height: 2.5rem;
        color: rgba($color: $black, $alpha: 0.85);
        font-family: $primary_semibold;
        box-shadow: none;
        @include flexAlignCenter;
        justify-content: space-between;
        gap: 20px;
      }
    }

    .accordion-collapse {
      padding: 16px 0 0;

      p {
        font-size: $font_size_24;
        line-height: 2rem;
        color: rgba($color: $black, $alpha: 0.65);
        margin: 0 0 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
