@import '../common/variables';
@import '../common/mixins';

.feature__section {
  margin: -48px 12px 44px 12px;
  position: relative;
  z-index: 9;
  &__content {
    background: rgba($white, 0.6);
    backdrop-filter: blur(20px) saturate(140%);
    padding: 36px 0;
    border-radius: 24px;
    max-width: 1310px;
    margin: 0 auto;
    @include media-breakpoint-down(lg) {
      background: rgba($white, 1);
    }

    .feature-card {
      position: relative;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        text-align: center;
        gap: 10px;
      }
      p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        max-width: 200px;
        @include media-breakpoint-down(sm) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
    .feature-card__icon {
      flex-shrink: 0;
      width: 66px;
      height: 66px;
      @include flexCenter;
      @include media-breakpoint-down(sm) {
        width: 36px;
        height: 36px;
      }
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .feature-card__content {
      padding: 0px 8px;
    }

    .row {
      row-gap: 24px;
      > [class*='col-'] {
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
      }
      > div {
        &:not(:last-child) {
          .feature-card {
            &::before {
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              width: 1px;
              height: 70%;
              background: rgba($primary, 0.2);
              transform: translateY(-50%);
            }
          }
        }

        @include media-breakpoint-down(lg) {
          &:not(:nth-child(1)):not(:nth-child(3)) {
            .feature-card {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
