@import '../common/variables';
@import '../common/mixins';

// Home Page
@keyframes hero-fade-in {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.home__hero {
  &__wrapper {
    position: relative;
    padding: 260px 0 220px;

    @include devices(laptopOnly) {
      padding: 240px 0 140px;
    }

    @include media-breakpoint-down(lg) {
      padding: 220px 0 170px;
    }

    @include media-breakpoint-down(sm) {
      padding: 150px 0 170px;
    }
  }

  .swiper-slide {
    .home__hero__bg {
      position: absolute;
      inset: 0;
      z-index: 0;

      &:before {
        @include media-breakpoint-down(lg) {
          content: '';
          position: absolute;
          inset: 0;
          background-color: rgba($black, 0.5);
          z-index: 1;
        }
      }

      img {
        @include imageCover;
        position: relative;
        z-index: 0;
      }
    }

    .home__hero__content {
      position: relative;
      z-index: 2;

      h1 {
        margin-bottom: 0;

        @include media-breakpoint-down(lg) {
          color: $white;
          text-shadow: 0 0px 2px rgba($black, 1);
        }
      }

      p {
        max-width: 80%;
        color: $dark;

        @include media-breakpoint-down(lg) {
          color: $white;
          text-shadow: 0 0px 2px rgba($black, 1);
        }

        @include media-breakpoint-down(sm) {
          max-width: 100%;
        }
      }
    }

    &[data-swiper-slide-index='0'] {
      .home__hero__content h1 {
        color: $primary;
      }
    }

    &[data-swiper-slide-index='1'] {
      .home__hero__content h1 {
        color: $red1;
      }
    }

    &[data-swiper-slide-index='2'] {
      .home__hero__content h1 {
        color: $info;
      }
    }
  }

  .swiper-slide-active {
    h1,
    p,
    .home__hero__desc {
      animation-name: hero-fade-in;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-fill-mode: both;
      @include media-breakpoint-down(lg) {
        color: $white !important;
      }
    }
  }
  .hero__nav {
    position: absolute;
    right: 0;
    bottom: 70px;
    left: 0;
    z-index: 10;

    &__wrap {
      gap: 10px;
      background: rgba($color: $white, $alpha: 0.85);
      padding: 4px;
      border-radius: 50px;
      display: inline-flex;
      align-items: center;
      margin-left: auto;
      @include media-breakpoint-down(lg) {
        margin: auto;
      }
    }

    .hero__nav__btn {
      margin: 0;
      width: 36px;
      height: 36px;
      @include transition;
      position: static;
      filter: brightness(0);
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;

      &:after {
        display: none;
      }

      &.swiper-button-prev {
        background-image: url(../images/btn-arw.svg);
        transform: rotate(-180deg);
      }

      &.swiper-button-next {
        background-image: url(../images/btn-arw.svg);
      }

      &:hover {
        background-color: $secondary;
        filter: none;
      }
    }
  }
}

//Inner Page Hero
.page__hero {
  position: relative;
  padding: 190px 0 90px;
  @include media-breakpoint-down(sm) {
    padding: 173px 0px 40px;
  }

  &__bg {
    @include fullSize;
    position: absolute;
    top: 0;
    left: 0;

    &::after {
      content: '';
      @include fullSize;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($primary, 0.5);
    }

    img {
      @include imageCover;
    }
  }

  .hero__caption {
    position: relative;
    z-index: 1;

    &__title {
      .page-title {
        color: $white;
        text-align: center;
        margin-bottom: 32px;
        @include media-breakpoint-down(md) {
          margin-bottom: 0px;
        }
      }
    }

    .breadcrumb {
      color: $white;
      justify-content: center;
    }
  }
}
