@import '../plugins/bootstrap/scss/functions';
@import '../plugins/bootstrap/scss/variables';
@import '../plugins/bootstrap/scss/mixins';

@import 'common/customize';
@import 'common/reset';

// @import 'common/fonts';
@import 'common/variables';
@import 'common/mixins';

@import 'component/component-all';

.cmn__section {
  padding: 60px 0;
  // margin: 35px 0;

  @include media-breakpoint-down(md) {
    padding: 30px 0;
    margin: 30px 0;
  }
}

.middle__sec {
  padding-top: 100px;

  // @include media-breakpoint-down(xxl) {
  //   overflow-x: hidden;
  // }
}

.home__body {
  .middle__sec {
    padding-top: 0;
  }
}

.cmn__link {
  font-size: 16px;
  line-height: 160%;
  color: $white;
  text-decoration: none;
  padding-bottom: 8px;
  border-bottom: 1px solid $white;

  &:hover {
    color: $white;
    border-bottom: none;
  }
}

.page__watermark {
  position: absolute;
  left: -40px;
  top: -120px;
  font-size: 280px;
  line-height: 100%;
  font-family: $primary_regular;
  color: rgba(58, 91, 214, 0.05);
  z-index: -1;

  @include media-breakpoint-down(xxl) {
    overflow: hidden;
    width: calc(100% + 40px);
  }

  background: linear-gradient(
    180deg,
    rgba(58, 91, 214, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.scroll__sticky {
  position: sticky;
  top: 90px;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.solliciteer-form-wrapper {
  padding-left: 50px;

  @include media-breakpoint-down(md) {
    padding-left: 0;
  }
}

body {
  div.wpforms-container-full .wpforms-field-label,
  .wp-core-ui div.wpforms-container-full .wpforms-field-label {
    font-size: 16px;
    line-height: 160%;
    font-family: $primary_regular;
    margin-bottom: 8px;
    color: $white;
    font-weight: 400;
  }

  div.wpforms-container-full input[type='date'],
  div.wpforms-container-full input[type='datetime'],
  div.wpforms-container-full input[type='datetime-local'],
  div.wpforms-container-full input[type='email'],
  div.wpforms-container-full input[type='month'],
  div.wpforms-container-full input[type='number'],
  div.wpforms-container-full input[type='password'],
  div.wpforms-container-full input[type='range'],
  div.wpforms-container-full input[type='search'],
  div.wpforms-container-full input[type='tel'],
  div.wpforms-container-full input[type='text'],
  div.wpforms-container-full input[type='time'],
  div.wpforms-container-full input[type='url'],
  div.wpforms-container-full input[type='week'],
  div.wpforms-container-full select,
  div.wpforms-container-full textarea,
  .wp-core-ui div.wpforms-container-full input[type='date'],
  .wp-core-ui div.wpforms-container-full input[type='datetime'],
  .wp-core-ui div.wpforms-container-full input[type='datetime-local'],
  .wp-core-ui div.wpforms-container-full input[type='email'],
  .wp-core-ui div.wpforms-container-full input[type='month'],
  .wp-core-ui div.wpforms-container-full input[type='number'],
  .wp-core-ui div.wpforms-container-full input[type='password'],
  .wp-core-ui div.wpforms-container-full input[type='range'],
  .wp-core-ui div.wpforms-container-full input[type='search'],
  .wp-core-ui div.wpforms-container-full input[type='tel'],
  .wp-core-ui div.wpforms-container-full input[type='text'],
  .wp-core-ui div.wpforms-container-full input[type='time'],
  .wp-core-ui div.wpforms-container-full input[type='url'],
  .wp-core-ui div.wpforms-container-full input[type='week'],
  .wp-core-ui div.wpforms-container-full select,
  .wp-core-ui div.wpforms-container-full textarea {
    border: 1px solid $primary;
    background: rgba($color: $primary, $alpha: 0.05);
    border-radius: 8px;
    height: 58px;
    color: $primary !important;
    font-size: 16px;
    padding: 0 16px;
    line-height: 26px;

    &:focus {
      border-color: $white;
      box-shadow: none;
      outline: none;
    }
  }

  div.wpforms-container-full .wpforms-field-file-upload .wpforms-uploader {
    height: 82px;
    padding: 12px;
    border: 1px solid $primary;
    background: rgba($color: $primary, $alpha: 0.05);
    border-radius: 8px;
    align-items: flex-start;

    .dz-message {
      display: flex;
      align-items: center;
      flex-direction: row;
      background: $primary;
      border-radius: 8px;
      height: 100%;
      padding: 0 20px;
      color: $white;
    }
  }

  div.wpforms-container-full input[type='submit']:not(:hover):not(:active),
  div.wpforms-container-full button[type='submit']:not(:hover):not(:active),
  div.wpforms-container-full .wpforms-page-button:not(:hover):not(:active),
  .wp-core-ui
    div.wpforms-container-full
    input[type='submit']:not(:hover):not(:active),
  .wp-core-ui
    div.wpforms-container-full
    button[type='submit']:not(:hover):not(:active),
  .wp-core-ui
    div.wpforms-container-full
    .wpforms-page-button:not(:hover):not(:active),
  div.wpforms-container-full input[type='submit'],
  div.wpforms-container-full button[type='submit'],
  div.wpforms-container-full .wpforms-page-button,
  .wp-core-ui div.wpforms-container-full input[type='submit'],
  .wp-core-ui div.wpforms-container-full button[type='submit'],
  .wp-core-ui div.wpforms-container-full .wpforms-page-button {
    background: $primary;
    border: 1px solid $primary;
    color: $white;
    min-width: 132px;
    font-weight: 400;
    font-family: $primary_regular;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 12px;
    line-height: 52px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    gap: 20px;
    min-width: 180px;
    height: auto;

    &:hover {
      background: $white;
      border-color: $white;
      color: $primary;
    }
  }

  .wpforms-submit-container {
    display: flex;
    justify-content: flex-end;
  }
}

@import 'pages/pages-all';
