$accordion-padding-y: 1.5rem;
$accordion-padding-x: 1.5rem;
$accordion-color: $primary;
$accordion-bg: $grey6;
$accordion-border-radius: 42px;
$accordion-inner-border-radius: 42px;

$accordion-body-padding-y: 1.5rem;
$accordion-body-padding-x: 1.5rem;

$accordion-button-padding-y: 0;
$accordion-button-padding-x: 0;
$accordion-button-color: $dark;
$accordion-button-bg: $light;
$accordion-button-active-bg: $secondary;
$accordion-button-active-color: $white;

$accordion-icon-color: $dark;
$accordion-icon-active-color: $white;
$accordion-btn-focus-border-color: none;
