@import '../common/variables';
@import '../common/mixins';

$btn-padding-y: 0;
$btn-padding-end: 16px;
$btn-font-size: 16px;
$btn-line-height: 42px;
$btn-font-weight: 400;
$btn-border-radius: 50px;
$btn-min-width: 180px;
@include media-breakpoint-down(md) {
  $btn-min-width: 140px !global;
}
@mixin button-variant(
  $background,
  $border,
  $color,
  $btn-min-width: 180px,
  $btn-font-weight: 400,
  $btn-border-radius: 50px,
  $btn-padding-y: 0,
  $btn-padding-end: 0px,
  $btn-font-size: 16px,
  $btn-line-height: 42px,
  $hover-background,
  $hover-border: null,
  $hover-text-color: null,
  $active-background: null,
  $active-border: null,
  $outline: false
) {
  background: if($outline, transparent, $background);
  border: 1px solid $border;
  color: if($outline, $color, $color);
  min-width: $btn-min-width;
  font-weight: $btn-font-weight;
  font-family: $secondary_regular;
  border-radius: $btn-border-radius;
  padding: 0px 20px;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  gap: 12px;
  position: relative;

  .btn-icon {
    width: 38px;
    height: 38px;
    border-radius: 50px;
    @include flexAlignCenter;
    background: $primary;
    position: absolute;
    top: 4px;
    left: 4px;
    @include transition;
    padding-left: 12px;
  }

  .btn-text {
    position: relative;
    z-index: 1;
  }

  &:hover {
    background-color: if($outline, $hover-border, $hover-background);
    border-color: if($hover-border != null, $hover-border, $border);
    color: if($hover-text-color != null, $hover-text-color, inherit);

    & .btn-icon {
      width: calc(100% - 8px);
    }
  }

  &:active {
    background-color: if($outline, $active-border, $active-background);
    border-color: if($active-border != null, $active-border, $border);
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @if $color == 'primary' {
      @include button-variant(
        $white,
        $value,
        $primary,
        $btn-min-width,
        $btn-font-weight,
        $btn-border-radius,
        0,
        $btn-padding-end,
        $btn-font-size,
        $btn-line-height,
        transparent,
        $value,
        $white,
        darken($value, 10%),
        null
      );
    } @else if ($color == 'secondary') {
      @include button-variant(
        $value,
        $value,
        $black,
        $btn-min-width,
        400,
        $btn-border-radius,
        $btn-padding-y,
        $btn-padding-end,
        $btn-font-size,
        $btn-line-height,
        45px,
        lighten($value, 10%),
        null,
        $black,
        darken($value, 10%),
        null
      );
    } @else if ($color == 'success') {
      @include button-variant(
        $value,
        $value,
        $white,
        $btn-min-width,
        $btn-font-weight,
        $btn-border-radius,
        $btn-padding-y,
        $btn-padding-end,
        $btn-font-size,
        $btn-line-height,
        45px,
        lighten($value, 10%),
        null,
        $white,
        darken($value, 10%),
        null
      );
    } @else if ($color == 'dark') {
      @include button-variant(
        $bodyColor,
        $value,
        $white,
        $btn-min-width,
        $btn-font-weight,
        $btn-border-radius,
        $btn-padding-y,
        $btn-padding-end,
        $btn-font-size,
        $btn-line-height,
        45px,
        lighten($primary, 10%),
        $primary,
        $bodyColor,
        darken($primary, 10%),
        null
      );
    } @else if ($color == 'light') {
      @include button-variant(
        $white,
        $value,
        #0d0e0e,
        $btn-min-width,
        $font-weight-medium,
        $btn-border-radius,
        $btn-padding-y,
        $btn-padding-end,
        $btn-font-size,
        $btn-line-height,
        $white,
        #0d0e0e,
        $black,
        $bodyColor,
        darken($primary, 10%),
        null
      );
    } @else if ($color == 'light') {
      @include button-variant(
        $white,
        $value,
        $bodyColor,
        $btn-min-width,
        $btn-font-weight,
        $btn-border-radius,
        $btn-padding-y,
        $btn-padding-end,
        $btn-font-size,
        $btn-line-height,
        45px,
        lighten($primary, 10%),
        $primary,
        $bodyColor,
        $white,
        darken($primary, 10%),
        null
      );
    } @else if ($color == 'outline') {
      @include button-variant(
        $white,
        rgba($bodyColor, 0.15),
        rgba($bodyColor, 1),
        $btn-min-width,
        $btn-font-weight,
        $btn-border-radius,
        $btn-padding-y,
        $btn-padding-end,
        $btn-font-size,
        $btn-line-height,
        $white,
        $white,
        $white,
        $white,
        null,
        true
      );
    } @else {
      @include button-variant(
        $value,
        $value,
        $value,
        170px,
        400,
        50px,
        0,
        1.875rem,
        18px,
        60px,
        $white,
        $value,
        $primary,
        darken($value, 10%),
        null
      );
    }
  }

  .btn-outline-#{$color} {
    @include button-variant(
      $white,
      $dark2,
      $bodyColor,
      $btn-min-width,
      $btn-font-weight,
      $btn-border-radius,
      $btn-padding-y,
      $btn-padding-end,
      $btn-font-size,
      $btn-line-height,
      $bodyColor,
      $bodyColor,
      $white,
      darken($grey1, 10%),
      darken($grey1, 10%),
      true
    );
  }
}

.btn {
  @include media-breakpoint-down(md) {
    line-height: 48px;
  }
}

.link__btn {
  position: relative;
  display: inline-flex;
  font-size: 16px;
  color: $primary;
  text-decoration: none;
  gap: 8px;
  svg {
    path {
      fill: $primary;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: $primary;
    transition: width 0.3s ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &__wt {
    color: $white;

    svg path {
      fill: $white;
    }
    &:hover {
      color: $white;
    }
  }

  &__bold {
    font-size: 15px;
    // font-family: $primary_semibold;
  }
}
