@import './variables';
@import './mixins';

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: $secondary_regular;
  font-size: 16px;
  line-height: 1.5;
  color: $bodyColor;
  text-decoration: none;
  overflow-x: hidden;
  // background-color: #f7f7f7;
  text-decoration: none;
}

// ========================================
// Headings
// ========================================

.h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  font-weight: $h1-font-weight;
  font-family: $primary_regular;
  margin-bottom: 0;
  color: $primary;
}

// other pages h1
.page-title {
  font-size: $page-h1-font-size;
  line-height: $page-h1-line-height;
  font-weight: $page-h1-font-weight;
}

.h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  font-weight: $h2-font-weight;
}
.h2-big {
  font-size: $h2-big-font-size;
  line-height: $h2-line-height;
  font-weight: $h2-font-weight;
}

.h3 {
  font-size: $h3-font-size !important;
  line-height: $h3-line-height;
  font-weight: $h3-font-weight;
}

.h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  font-weight: $h4-font-weight;
}

.h5 {
  font-size: $h5-font-size;
  line-height: $h5-line-height;
  font-weight: $h5-font-weight;
}

.h6 {
  font-size: $h6-font-size;
  line-height: $h6-line-height;
  font-weight: $h6-font-weight;
}

input,
button {
  font-weight: 500;
}

.p {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $body-font-weight;
}

a {
  // line-height: 1.8em;
  font-size: 18px;
  color: $primary;
  font-weight: 300;
  text-decoration: none;
  @include transition;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

ul {
  padding-left: 0px;
  li {
    // margin: 0 0 10px;
    line-height: 160%;
    font-size: 16px;
    color: $bodyColor;
    font-family: $primary_regular;

    &:last-child {
      margin-bottom: 0;
    }

    strong {
      font-weight: 700;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;

  @include devices(mobile) {
    width: 3px;
    height: 3px;
  }
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba($black, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: $black;
}

figure {
  margin: 0;
}
.row {
  row-gap: 24px;
}
.section {
  padding: 100px 0;

  @media screen and (max-width: 767px) {
    padding: 40px 0;
  }

  @media screen and (max-width: 768px) and (max-width: 1023px) {
    padding: 64px 0;
  }

  &-plain + &-plain {
    padding-top: 0;
  }

  // &-plain + &-alt,
  // &-alt + &-plain {
  //   padding-top: 0;
  // }
}
.container,
.container-fluid,
.container-xxl,
.container-xl {
  @include media-breakpoint-between(sm, xl) {
    max-width: 100%;
  }
  @include media-breakpoint-down(md) {
    --bs-gutter-x: 2rem;
  }
}

.row > * {
  @include media-breakpoint-down(md) {
    --bs-gutter-x: 2rem;
  }
}

body {
  .wpcf7 {
    form {
      .wpcf7-response-output {
        color: $white;
        border-radius: 12px;
        padding: 16px !important;
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 999;
        box-shadow: 0 0 20px 5px rgba($black, 0.15) !important;
        background: $white;
        font-size: 1.125rem;
        margin: 0;
        // @include media-breakpoint-down(md) {
        //   right: 20px;
        //   left: 20px;
        // }
      }

      &.sent {
        .wpcf7-response-output {
          background: $info;
          border-color: $info;
        }
      }

      &.invalid,
      &.unaccepted,
      &.payment-required {
        .wpcf7-response-output {
          background: $warning;
        }
      }
    }
  }
}

// model
#reviewVideoModal .modal-dialog {
  max-width: 350px;
  width: auto;
  margin: auto;
}
.review__model {
  background: #000000c7;
  backdrop-filter: blur(5px);
}
.review__model.show {
  display: flex !important;
}
#reviewVideoModal .modal-content {
  height: 600px;
  background: transparent;
  border: 0;
}

#reviewVideoModal .modal-body {
  padding: 0;
  height: 100%;
}

#reviewVideoModal video {
  object-fit: contain;
  display: block;
}

.close__btn__model {
  position: absolute;
  right: -10px;
  top: -2%;
  background: $black;
  border-radius: 50%;
  padding: 10px;
  opacity: 1;
  color: $black;
  width: 30px;
  height: 30px;
  @include flexCenter;
  cursor: pointer;
  z-index: 1;
  button {
    filter: invert(1);
    opacity: 1;
    cursor: pointer;
  }
}
